.two-col-highlight {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.two-col-highlight .text-col,
.two-col-highlight .image-col {
    width: 100%;
}

.two-col-highlight .text-container {
    position: relative;
    padding: 50px 15px 35px;
    background-color: black;
}

.two-col-highlight .text-container h2 {
    font-size: 36px;
    line-height: 40px;
}

.two-col-highlight .text-container p {
    font-family:'Avenir LT W01_45 Book1475508';
    line-height: 24px;
}

.two-col-highlight .text-container::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: black;
    box-shadow: 40px 13px 68px black, -40px 13px 68px black;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    pointer-events: none;
    z-index: 1;
}

.two-col-highlight .image-box {
    padding-bottom: 130%;
    position: relative;
}

.two-col-highlight .image-box::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.85) 65%, rgba(0,0,0,0) 100%);
    pointer-events: none;
}

@media (min-width: 641px) {
    .two-col-highlight {
        flex-direction: row;
    }
    .two-col-highlight .text-col,
    .two-col-highlight .image-col {
        width: 50%;
    }
    .two-col-highlight .text-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .two-col-highlight .text-container::after,
    .two-col-highlight .image-box::after {
        display: none;
    }
    .two-col-highlight .text-container {
        background-color: transparent;
    }
    .two-col-highlight .image-box {
        -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,1) 20%);
        mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,1) 20%);
    }
    .two-col-highlight .outer-mask {
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,1.0) 25%);
        mask-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,1.0) 25%);
    }
}

@media (min-width: 1025px) {
    .two-col-highlight .text-container .inner-container {
        width: 100%;
        max-width: 625px;
        margin: 0 auto;
    }
    .two-col-highlight .image-box {
        padding-bottom: 105%;
    }
    .two-col-highlight .text-container h2 {
        font-size: calc(36px + (76 - 36) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(40px + (80 - 40) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .two-col-highlight .text-container p {
        font-size: calc(22px + (26 - 22) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(24px + (38 - 24) * ((100vw - 1025px) / (1700 - 1025)));
    }
}

/* end two col highlights */

.tiles .title-cont {
    text-align: center;
}

.tiles .title-cont h2 {
    color: white;
    margin: 0;
    text-shadow: 0px 0px;
    font-size: 30px;
    line-height: 30px;
}

.tiles .inner-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.tiles .tile {
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.tiles .tile .title-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 15px;
}

.tiles .tile .title-cont h3 {
    margin: 0;
    text-align: center;
}

.tiles .tile .title-cont h3 .title1 {
    display: block;
    font-family:'Avenir LT W01_55 Roman1475520';
}

.tiles .tile .title-cont h3 .title2 {
    display: block;
    font-family:'Avenir LT W01_95 Black1475556';
}

.tiles .tile .img-cont {
    padding-bottom: 74%;
    position: relative;
}

@media (min-width: 641px) {
    .tiles .inner-panel {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tiles .tile {
        width: 50%;
        border: 1px solid white;
    }
    .tiles .tile .title-cont h3 .title1,
    .tiles .tile .title-cont h3 .title2 {
        font-size: 26px;
        line-height: 26px;
    }
}

@media (min-width: 1025px) {
    /* .tiles {
        box-shadow: 0 0 100px rgba(0,0,0,0.75);
    } */
    .tiles .title-cont h2 {
        font-size: 68px;
        line-height: 70px;
    }
    .tiles .tile {
        width: 33.3333%;
        overflow: hidden;
    }
    .tiles .tile .img-cont {
        padding-bottom: 80%;
        transition: transform 0.35s;
        transform: scale(1.12);
        z-index: 1;
    }
    .tiles .tile:hover .img-cont {
        transform: scale(1);
    }
    .tiles .tile .img-cont::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        border: 1px solid white;
        transition: opacity 0.35s, transform 0.35s;
        opacity: 0;
        transform: scale(1.1);
        z-index: 3;
    }
    .tiles .tile:hover .img-cont::before {
        opacity: 1;
        transform: scale(1);
    }
    .tiles .tile .img-cont::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.35s;
        opacity: 0;
        background-color: black;
        z-index: 2;
    }
    .tiles .tile:hover .img-cont::after {
        opacity: 0.5;
    }
    .tiles .tile .title-cont {
        padding: 50px 15px;
        z-index: 5;
    }
    .tiles .tile .title-cont h3 .title1, 
    .tiles .tile .title-cont h3 .title2 {
        font-size: 34px;
        line-height: 34px;
    }
}

/* end tiles */

.feat-slider {
    position: relative;
    margin: 0 0 30px;
}

.feat-slider .arrow-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 118% 15px 0;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 100;
}

.feat-slider .arrow-cont .arrows {
    display: flex;
    pointer-events: all;
}

.feat-slider .arrow-cont .widget-title {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
}

.feat-slider .arrow-cont .widget-title h2 {
    font-size: 18px;
    line-height: 20px;
    padding-right: 100px;
    text-shadow: 1px 1px black;
    margin: 0;
}

.feat-slider .arrow-cont .arrows .custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: rgb(228,46,65);
    background: -moz-linear-gradient(top, rgba(228,46,65,1) 0%, rgba(122,25,27,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    background: linear-gradient(to bottom, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42e41', endColorstr='#7a191b',GradientType=0 );
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.feat-slider .arrow-cont .arrows .custom-arrow.prev {
    margin-right: 2px;
}

.feat-slider .arrow-cont .arrows .custom-arrow i {
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.feat-slider .slider {
    z-index: 2;
}

.feat-slider .item {
    display: flex;
    flex-direction: column;
}

.feat-slider .item .slide-content {
    position: relative;
    padding: 90px 15px 45px;
    margin-top: -70px;
    background: -moz-linear-gradient(bottom, rgba(112,112,112,0) 0%, rgba(255,255,255,0.75) 20%, rgba(255,255,255,1.0) 50%, rgba(255,255,255,0.75) 90%, rgba(112,112,112,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(112,112,112,0) 0%,rgba(255,255,255,0.75) 20%,rgba(255,255,255,1.0) 50%,rgba(255,255,255,0.75) 90%,rgba(112,112,112,0) 100%);
    background: linear-gradient(to bottom, rgba(112,112,112,0) 0%,rgba(255,255,255,0.9) 20%,rgba(255,255,255,1.0) 50%,rgba(255,255,255,0.75) 90%, rgba(112,112,112,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2e2e2', endColorstr='#00ffffff',GradientType=0 );
    text-shadow: 0px 0px;
    z-index: 2;
}

/* .feat-slider .item .slide-content::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 45px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(112,112,112,1.0) 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgba(112,112,112,1.0) 0%, transparent 100%);
} */

.feat-slider .item .slide-content .title {
    font-family:'Avenir LT W01_95 Black1475556';
    color: #323232;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(255,255,255,0.9);
    margin-bottom: 20px;
}

.feat-slider .item .slide-content .desc {
    font-family:'Avenir LT W01_35 Light1475496';
    color: #323232;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px;
}

.feat-slider .item .slide-content .details .section {
    font-family:'Avenir LT W01_45 Book1475508';
    color: #323232;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
}

.feat-slider .item .slide-content .details .section .bold {
    font-family:'Avenir LT W01_95 Black1475556';
}

.feat-slider .item .slide-content .links {
    display: flex;
    align-items: center;
}

.feat-slider .item .slide-content .links a {
    display: inline-block;
    flex: 1;
    padding: 12px 15px;
    font-family:'Avenir LT W01_45 Book1475508';
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.68);
}

.feat-slider .item .slide-content .links a:first-child {
    margin-right: 8px;
    background-color:#e72f42;
}

.feat-slider .item .slide-content .links a:last-child {
    background-color: #707070;
}

.feat-slider .item .date-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-family:'Avenir LT W01_95 Black1475556';
    font-size: 56px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    transform: translateY(-100%);
}

.feat-slider .img-slider {
    z-index: 1;
    display: none;
}

.feat-slider .slider .item .img-cont {
    position: relative;
    padding-bottom: 130%;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.85) 25%);
    mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.85) 25%);
    z-index: 1;
}

@media (min-width: 641px) {
    .feat-slider .slider .item .img-cont {
        padding-bottom: 65%;
    }
}

@media (min-width: 641px) {
    .feat-slider .item {
        position: relative;
        flex-direction: row;
        z-index: 1;
    }
    .feat-slider .item .img-cont,
    .feat-slider .item .slide-content {
        width: 50%;
    }
    .feat-slider .item .img-cont {
        order: 2;
        padding-bottom: 45%;
    }
    .feat-slider .item .slide-content {
        order: 1;
        margin: 0;
        padding: 75px 15px;
        overflow: hidden;
    }
    .feat-slider .arrow-cont {
        width: 50%;
        padding: 15px;
    }
}

@media (min-width: 1025px) {
    .feat-slider {
        display: flex;
        padding-left: 70px;
        margin: 0 0 100px;
    }
    .feat-slider .img-slider {
        width: 53%;
        display: block;
        order: 2;
    }
    .feat-slider .slider {
        width: 47%;
        order: 1;
        display: flex;
        position: relative;
    }
    .feat-slider .slider .slick-track,
    .feat-slider .img-slider .slick-list,
    .feat-slider .img-slider .slick-track {
        height: 100%;
    }
    .feat-slider .item .img-cont {
        display: none;
    }
    .feat-slider .item .slide-content {
        display: flex;
        width: 100%;
        padding: 170px 15px; 
        background: -moz-linear-gradient(top, rgba(226,226,226,0) 0%, rgba(255,255,255,0.75) 20%, rgba(255,255,255,1.0) 50%, rgba(255,255,255,0.75) 70%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top, rgba(226,226,226,0) 0%,rgba(255,255,255,0.75) 20%,rgba(255,255,255,1.0) 50%,rgba(255,255,255,0.75) 70%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(226,226,226,0) 0%,rgba(255,255,255,0.75) 20%,rgba(255,255,255,1.0) 50%,rgba(255,255,255,0.75) 70%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2e2e2', endColorstr='#00ffffff',GradientType=0 );
        overflow: visible;
    }
    .feat-slider .slider::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 50px;
        height: 90%;
        box-shadow: 50px 0px 96px 0px rgba(0,0,0,0.65);
        z-index: -1;
        transform: translateY(-50%);
    }
    .feat-slider .slider::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 50px;
        height: 90%;
        box-shadow: -50px 0px 96px 0px rgba(0,0,0,0.65);
        z-index: -1;
        transform: translateY(-50%);
    }
    .feat-slider .item .slide-content .inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }
    .feat-slider .item .slide-content .title {
        font-size: 60px;
        line-height: 50px;
        font-size: calc(30px + (60 - 30) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(26px + (50 - 26) * ((100vw - 1025px) / (1700 - 1025)));
        margin-bottom: 30px;
    }
    .feat-slider .item .slide-content .desc {
        font-size: calc(20px + (26 - 20) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(30px + (36 - 30) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .feat-slider .item .slide-content .details .section {
        font-size: calc(18px + (28 - 18) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(20px + (38 - 20) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .feat-slider .item .slide-content .links a {
        max-width: 265px;
        padding: 30px;
        font-size: calc(20px + (26 - 20) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .feat-slider .item .slide-content .links {
        margin-top: 25px;
    }
    .feat-slider .arrow-cont {
        width: 100%;
        max-width: 650px;
        left: 50%;
        transform: translateX(-50%);
        padding: 60px 15px 0;
        align-items: flex-start;
    }
    .feat-slider .arrow-cont .arrows .custom-arrow {
        width: 52px;
        height: 52px;
    }
    .feat-slider .arrow-cont .arrows .custom-arrow.prev {
        margin-right: 35px;
    }
    .feat-slider .arrow-cont .arrows .custom-arrow i {
        font-size: 25px;
    }
    .feat-slider .arrow-cont .widget-title h2 {
        font-size: calc(26px + (46 - 26) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(30px + (40 - 30) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .feat-slider .item .date-cont {
        display: none;
    }
    .feat-slider .img-slider .item {
        position: relative;
        z-index: 1;
        -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(112,112,112,1.0) 30%);
        mask-image: linear-gradient(to top, transparent 0%, rgba(112,112,112,1.0) 30%);
        padding-bottom: 35%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .feat-slider .img-slider .item h2 {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: calc(60px + (180 - 60) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(56px + (180 - 56) * ((100vw - 1025px) / (1700 - 1025)));
        text-align: center;
    }
}

/* end featured slider */

.carousel {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto 40px;
}

.carousel .slider {
    position: relative;
}

.carousel .slider .arrow-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 15px;
    width: auto;
    padding-top: 55%;
    pointer-events: none;
    z-index: 1;
}

.carousel .slider .custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(228,46,65);
    background: -moz-linear-gradient(top, rgba(228,46,65,1) 0%, rgba(122,25,27,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    background: linear-gradient(to bottom, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42e41', endColorstr='#7a191b',GradientType=0 );
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    pointer-events: all;
    cursor: pointer;
}

.carousel .slider .custom-arrow.prev {
    margin-right: 7px;
}

.carousel .slider .custom-arrow i {
    font-size: 23px;
}

.carousel .title-cont {
    text-align: center;
}

.carousel .title-cont h2 {
    color: white;
    margin: 0;
    text-shadow: 0px 0px;
}

.carousel .slider .item {
    position: relative;
}

.carousel .slider .item .img-cont {
    border: 2px solid white;
    padding-bottom: 70%;
}

.carousel .slider .item .slide-content {
    background: white;
}

.carousel .slider .item .slide-content .date-block {
    padding: 15px 15px 20px;
    background: linear-gradient(to bottom, #7e7e7e 0%, #afafaf 100%);
    font-family:'Avenir LT W01_95 Black1475556';
    font-size: 18px;
    text-transform: uppercase;
    color: #cdcdcd;
    text-shadow: 0px 0px;
}

.carousel .slider .item .slide-content .inner {
    padding: 30px 15px;
    text-align: center;
}

.carousel .slider .item .slide-content h3 {
    font-family:'Avenir LT W01_95 Black1475556';
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    color: #323232;
    margin: 0 0 25px;
    text-align: left;
    text-shadow: 0px 0px;
}

.carousel .slider .item .slide-content .author {
    font-family:'Avenir LT W01_95 Black1475556';
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 15px;
    color: #e72f42;
    text-transform: none;
    text-align: left;
    text-shadow: 0px 0px;
}

.carousel .slider .item .slide-content .desc {
    color: #656565;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    text-shadow: 0px 0px;
}

.carousel .slider .item .slide-content .link {
    display: inline-block;
    padding: 15px 35px;
    font-family: 'Avenir LT W01_45 Book1475508';
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-color: #e72f42;
}

@media (min-width: 641px) {
    .carousel .slider .item {
        display: flex;
        min-height: 500px;
    }
    .carousel .slider .item .slide-content,
    .carousel .slider .item .img-cont {
        width: 50%;
    }
    .carousel .slider .item .slide-content,
    .carousel.alternate .slider .item .img-cont {
        order: 1;
    }
    .carousel .slider .item .img-cont,
    .carousel.alternate .slider .item .slide-content {
        order: 2;
    }
    .carousel .slider .arrow-cont {
        left: 55%;
        padding-top: 0;
        top: auto;
        bottom: 35px;
    }
    .carousel.alternate .slider .arrow-cont {
        left: 35%;
    }
}

@media (min-width: 1025px) {
    .carousel {
        margin: 0 auto 100px;
    }
    .carousel .slider .slick-list,
    .carousel .slider .slick-track {
        display: flex;
    }
    .carousel .slider .item {
        height: 100%;
    }
    .carousel .slider .item .slide-content {
        width: 33.3333%;
        background: transparent;
    }
    .carousel .slider .item .slide-content .inner {
        text-align: left;
        height: 100%;
        padding: 45px;
        background: -moz-linear-gradient(to left, rgba(226,226,226,0.83) 0%,rgba(255,255,255,0.86) 7%, rgba(255,255,255,1) 20%);
        background: -webkit-linear-gradient(to left, rgba(226,226,226,0.83) 0%,rgba(255,255,255,0.86) 7%, rgba(255,255,255,1) 20%);
        background: linear-gradient(to left, rgba(226,226,226,0.83) 0%,rgba(255,255,255,0.86) 7%, rgba(255,255,255,1) 20%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2e2e2', endColorstr='#00ffffff',GradientType=0 );
    }
    .carousel.alternate .slider .item .slide-content .inner {
        background: -moz-linear-gradient(to right, rgba(226,226,226,0.83) 0%,rgba(255,255,255,0.86) 7%, rgba(255,255,255,1) 20%);
        background: -webkit-linear-gradient(to right, rgba(226,226,226,0.83) 0%,rgba(255,255,255,0.86) 7%, rgba(255,255,255,1) 20%);
        background: linear-gradient(to right, rgba(226,226,226,0.83) 0%,rgba(255,255,255,0.86) 7%, rgba(255,255,255,1) 20%);
    }
    .carousel .slider .item .img-cont {
        width: 66.6666%;
        padding-bottom: 44%;
    }
    .carousel .slider .arrow-cont {
        left: 37%;
        bottom: 55px;
    }
    .carousel.alternate .slider .arrow-cont {
        left: 0;
        width: 62%;
        justify-content: flex-end;
    }
    .carousel .slider .arrow-cont .custom-arrow {
        width: 75px;
        height: 75px;
    }
    .carousel .slider .arrow-cont .custom-arrow i {
        font-size: 30px;
    }
    .carousel .slider .item .slide-content .date-block {
        padding: 20px 15px 20px 45px;
        font-size: 22px;
        color: white;
        background: -moz-linear-gradient(to left, rgba(182,182,182,0) 0%,rgba(182,182,182,0.75) 60%, rgba(182,182,182,1) 80%);
        background: -webkit-linear-gradient(to left, rgba(182,182,182,0) 0%,rgba(182,182,182,0.75) 60%, rgba(182,182,182,1) 80%);
        background: linear-gradient(to left, rgba(182,182,182,0) 0%,rgba(182,182,182,0.75) 60%, rgba(182,182,182,1) 80%);
    }
    .carousel .slider .item .slide-content h3 {
        font-size: calc(26px + (36 - 26) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(28px + (38 - 28) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .carousel .slider .item .slide-content .author {
        font-size: calc(18px + (26 - 18) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(20px + (30 - 20) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .carousel .slider .item .slide-content .desc {
        font-size: calc(18px + (24 - 18) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(23px + (34 - 23) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .carousel .slider .item .slide-content .link {
        font-size: calc(15px + (20 - 15) * ((100vw - 1025px) / (1700 - 1025)));
        padding: 32px 76px;
    }
    .carousel .title-cont h2 {
        font-size: 82px;
        line-height: 85px;
    }
}

/* end carousel */

.offers {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto 50px;
    padding: 0 15px;
    text-align: center;
}

.offers .title-cont {
    text-align: center;
}

.offers .title-cont h2 {
    color: white;
    margin: 0;
    font-size: 30px;
    line-height: 32px;
}

.offers .inner-panel {
    display: flex;
    flex-direction: column;
}

.offers .item {
    margin-bottom: 10px;
    text-align: left;
}

.offers .item .img-cont {
    position: relative;
}

.offers .item .img-cont img {
    display: block;
    width: 100%;
}

.offers .item .img-cont .price-block {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 24px;
    text-align: center;
    font-family:'Avenir LT W01_95 Black1475556'; 
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    background-color: #d8262f;
}

.offers .item .item-content .inner {
    border: 2px solid #444444;
    border-bottom: 0;
    padding: 25px 25px 35px;
    background-color: black;
}

.offers .item .item-content .link {
    display: block;
    font-family:'Avenir LT W01_95 Black1475556';
    padding: 20px;
    background-color: white;
    font-size: 26px;
    text-transform: uppercase;
    color: #6db1c7;
    text-align: center;
}

.offers .item .item-content h3 {
    font-size: 26px;
    line-height: 28px;
}

.offers .view-more {
    display: inline-block;
    padding: 20px 40px;
    background-color: #e72f42;
    font-family:'Avenir LT W01_45 Book1475508';
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 641px) {
    .offers { overflow: hidden; }
    .offers .inner-panel {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -3px;
    }
    .offers .item {
        margin: 0 3px 6px;
        width: calc(50% - 6px);
    }
}

@media (min-width: 1025px) {
    .offers {
        margin: 0 auto 100px;
    }
    .offers .item {
        width: calc(25% - 6px);
    }
    .offers .title-cont h2 {
        font-size: 82px;
        line-height: 85px;
    }
    .offers .view-more {
        margin-top: 40px;
        padding: 25px 60px;
        font-size: 17px;
    }
}

/* end offers */

.split-panel {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    overflow: hidden;
}

.split-panel .inner-panel {
    display: flex;
    flex-direction: column;
}

.split-panel .img-box {
    padding: 4px;
    background-color: white;
    margin-bottom: 15px;
}

.split-panel .img-box img {
    display: block;
    width: 100%;
}

.split-panel .img-container {
    order: 1;
    padding: 0 15px;
}

.split-panel .text-container {
    order: 2;
    padding: 0 15px;
}

.split-panel .text-container .inner {
    width: 100%;
    max-width: 660px;
}

.split-panel .text-container .title {
    font-family:'Avenir LT W01_85 Heavy1475544';
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
}

.split-panel .text-container .desc {
    font-family:'Avenir LT W01_45 Book1475508';
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: 641px) {
    .split-panel {
        margin-bottom: 25px;
    }
    .split-panel .inner-panel {
        flex-direction: row;
        justify-content: space-between;
    }
    .split-panel.img-right .img-container {
        order: 2;
    }
    .split-panel.img-right .text-container {
        order: 1;
    }
}

@media (min-width: 1025px) {
    .split-panel {
        margin-bottom: 100px;
    }
    .split-panel .text-container .title {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 45px;
    }
    .split-panel .text-container .desc {
        font-size: 28px;
        line-height: 38px;
    }
    .split-panel.img-right .text-container {
        width: 54%;
    }
    .split-panel.img-right .img-container {
        width: 46%;
    }
}

/* end split panel */

.pull-quote {
    position: relative;
    padding: 90px 15px;
    font-family:'Avenir LT W01_95 Black_1475562';
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.pull-quote .img-cont {
    position: absolute;
    top: 0;
    left: 15px;
    width: 80px;
    height: 75px;
}

.pull-quote .quote {
    font: inherit;
    font-size: 26px;
    line-height: 28px;
    margin: 20px 0;
    color: white;
    text-transform: uppercase;
}

.pull-quote .credit {
    display: inline-block;
    position: relative;
    color: #6db1c7;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 20px;
}

.pull-quote .credit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 17px;
    height: 2px;
    background-color: #6db1c7;
}

@media (min-width: 1025px) {
    .pull-quote {
        padding: 60px 15px 60px 125px;
    }
    .pull-quote .img-cont {
        width: 105px;
        height: 100px;
        top: 60px;
        left: 0;
    }
    .pull-quote .quote {
        font-size: 46px;
        line-height: 48px;
    }
    .pull-quote .credit {
        font-size: 36px;
        padding-left: 50px;
    }
    .pull-quote .credit::before {
        width: 42px;
        height: 5px;
    }
}

/* end pull quote */

.imagebox-panel {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

.imagebox img {
    display: block;
    width: 100%;
}

.imagebox {
    position: relative;
    border: 2px solid white;
}

.imagebox::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}

.imagebox .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 10px 5px 10px 10px;
    z-index: 1;
}

.imagebox .slide-content h3 {
    font-size: 21px;
    line-height: 23px;
    margin: 0;
}

.imagebox .slide-content .desc {
    display: none;
}

.imagebox .slide-content .see-more {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(228,46,65);
    background: -moz-linear-gradient(top, rgba(228,46,65,1) 0%, rgba(122,25,27,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    background: linear-gradient(to bottom, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42e41', endColorstr='#7a191b',GradientType=0 );
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    pointer-events: all;
    cursor: pointer;
}

.imagebox .slide-content .see-more i {
    color: white;
}

@media (min-width: 641px) {
    .imagebox-panel {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .imagebox {
        width: calc(50% - 2px);
    }
}

@media (min-width: 1025px) {
    .imagebox-panel {
        width: 100%;
        max-width: 1500px;
        margin: 100px auto 0;
        padding: 60px 15px;
    }
    .imagebox .slide-content {
        padding: 40px;
    }
    .imagebox .slide-content .inner {
        margin-right: 15px;
        padding-right: 20px;
    }
    .imagebox .slide-content .desc {
        display: block;
        margin: 0;
        font-size: 17px;
        line-height: 24px;
    }
    .imagebox .slide-content h3 {
        font-size: calc(21px + (32 - 21) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(23px + (34 - 23) * ((100vw - 1025px) / (1700 - 1025)));
        margin-bottom: 20px;
    }
    .imagebox .slide-content .see-more {
        width: calc(40px + (78 - 40) * ((100vw - 1025px) / (1700 - 1025)));
        height: calc(40px + (78 - 40) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .imagebox .slide-content .see-more i {
        font-size: calc(16px + (42 - 16) * ((100vw - 1025px) / (1700 - 1025)));
    }
}

/* end imagebox */

.spotlight-panel {
    padding: 0 15px;
}

.spotlight-panel .title-cont {
    text-align: center;
}

.spotlight-panel .title-cont h2 {
    margin: 0;
    font-size: 30px;
    line-height: 32px;
}

.spotlight-panel .inner-panel {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.spotlight {
    width: 100%;
    display: flex;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.spotlight-panel .inner-panel .spotlight:last-child {
    border-bottom: 0;
}

.spotlight .img-cont {
    border-right: 2px solid white;
    width: 50%;
    padding-bottom: 40%;
}

.spotlight .img-link {
    display: block;
    width: 50%;
}

.spotlight .img-link .img-cont {
    width: 100%;
    height: 100%;
    padding-bottom: 80%;
}

.spotlight .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.spotlight .slide-content .desc {
    display: none;
}

.spotlight .slide-content h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

.spotlight .slide-content .see-more {
    font-family:'Avenir LT W01_95 Black1475556';
    color: #d92c3e;
    text-transform: uppercase;
}