.two-col-highlight {
    display: flex;
    flex-direction: column;
}

.two-col-highlight .left-col,
.two-col-highlight .right-col {
    width: 100%;
}

.two-col-highlight .text-container {
    position: relative;
    padding: 50px 15px 35px;
    background-color: black;
}

.two-col-highlight .text-container h2 {
    font-size: 36px;
    line-height: 40px;
}

.two-col-highlight .text-container p {
    font-family:'Avenir LT W01_45 Book1475508';
    line-height: 24px;
}

.two-col-highlight .text-container::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: black;
    box-shadow: 40px 13px 68px black, -40px 13px 68px black;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    pointer-events: none;
}