/* Shared Details */
.shared-detail {
    position: relative;
}

.detail-bg {
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: -1;
    padding-top: 120%;
    -webkit-filter: blur(16px);
    filter: blur(16px);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,1.0) 28%);
    mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,1.0) 28%);
}

@media (min-width: 641px) {
    .detail-bg {
        padding-top: 70%;
    }
}

@media (min-width: 1025px) {
    .detail-bg {
        padding-top: 50%;
    }
}

/* Shared Top */
.shared-top {
    position: relative;
    width: 100%;
    max-width: 1500px;
    padding: 80px 15px 15px;
    margin: 0 auto 25px;
    z-index: 100;
}

.shared-top .inner-panel {
    display: flex;
    flex-direction: column;
}

.shared-top .inner-panel .panel-right,
.shared-top .inner-panel .panel-left {
    width: 100%;
}

.shared-top .back-button {
    display: block;
    font-family:'Avenir LT W01_95 Black1475556';
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-align: left;
}

.shared-top .back-button i {
    margin-right: 10px;
}

.shared-top h1 {
    display: none;
}

.listing-details .inner {
    padding: 20px;
    background-color: rgba(0,0,0,0.65);
    border: 1px solid black;
}

.listing-details h2 {
    font-family:'Avenir LT W01_45 Book1475508';
    font-size: 24px;
    line-height: 20px;
    color: white;
    margin: 0 0 17px;
}

.listing-details .info {
    margin: 0 0 30px;
    list-style: none;
    font-family:'Avenir LT W01_55 Roman1475520';
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.listing-details .info li {
    margin-bottom: 20px;
}

.listing-details .info li:last-child {
    margin-bottom: 0;
}

.listing-details .info li a {
    font-size: inherit;
    color: inherit;
}

.listing-details .info li i {
    font-size: 18px;
    color: #d8262f;
    margin-right: 6px;
}

.listing-details .yelp-cont {
    margin-bottom: 30px;
}

.listing-details .listing-link {
    display: block;
    background-color: #6db1c7;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 15px;
}

@media (min-width: 750px) {
    .shared-top .inner-panel {
        flex-direction: row;
        justify-content: space-between
    }
    .shared-top .inner-panel .panel-right,
    .shared-top .inner-panel .panel-left {
        width: 50%;
        width: 50%;
        max-width: 660px;
    }
    .shared-top .inner-panel .panel-right {
        padding-left: 15px;
    }
    .shared-top .inner-panel .panel-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-right: 15px;
    }
    .shared-top h1 {
        display: block;
        color: #6db1c7;
        margin: 0;
        text-shadow: 0px 0px;
    }
}

@media (min-width: 1025px) {
    .shared-top {
        padding: 280px 15px 15px;
        margin: 0 auto 100px;
    }
    .shared-top .back-button {
        font-size: 17px;
    }
    .shared-top h1 {
        font-size: calc(60px + (78 - 60) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(66px + (68 - 66) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .listing-details .inner {
        padding: 50px 50px 30px;
    }
    .listing-details h2 {
        font-size: calc(24px + (48 - 24) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(20px + (44 - 20) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .listing-details .info {
        font-size: calc(18px + (30 - 18) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(22px + (36 - 22) * ((100vw - 1025px) / (1700 - 1025)));
        margin: 0 0 35px;
    }
    .listing-details .info li i {
        font-size: calc(18px + (28 - 18) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .listing-details .flex-cont {
        display: flex;
        justify-content: space-between;
    }
    .listing-details .yelp-cont {
        margin-bottom: 0;
    }
    .listing-details .listing-link {
        font-size: 20px;
        padding: 23px;
    }
}

/* Shared Gallery */
.shared-gallery .gallery-item .img-cont {
    position: relative;
    padding: 3px;
    background-color: white;
}

.shared-gallery .gallery-item .img-cont img {
    display: block;
    width: 100%;
}

.shared-gallery .gallery-item .img-cont .controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 15px;
}

.shared-gallery .gallery-item .img-cont .controls .img-totals {
    font-size: 20px;
    color: white;
    margin-right: 15px;
    letter-spacing: -2px;
}

.shared-gallery .gallery-item .img-cont .controls a {
    font-size: 17px;
    color: white;
}

@media (min-width: 1025px) {
    .shared-gallery .gallery-item .img-cont .controls {
        padding: 0 50px 25px;
    }
    .shared-gallery .gallery-item .img-cont .controls .img-totals {
        font-size: 28px;
        font-weight: bold;
    }
    .shared-gallery .gallery-item .img-cont .controls a {
        font-size: 24px;
    }
}

/* Shared Bottom */
.shared-bottom {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 100;
}

.detail-tab {
    margin-bottom: 30px;
}

.detail-tab .tab-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 4px solid white;
}

.detail-tab .tab-inner h2 {
    font-size: 24px;
    line-height: 23px;
    margin: 0;
    text-shadow: 0px 0px;
}

.detail-tab .tab-inner .toggle {
    cursor: pointer;
}

.detail-tab .tab-inner .toggle i {
    font-size: 20px;
    color: white;
}

.detail-tab .tab-inner .toggle .close {
    display: none;
}

.detail-tab.active .tab-inner .toggle .close {
    display: inline-block;
}

.detail-tab.active .tab-inner .toggle .open {
    display: none;
}

.detail-tab .tab-content {
    display: none;
    padding: 25px 0;
}

.detail-tab.active .tab-content {
    display: block;
}

.detail-tab .tab-content .contentRender_name_plugins_core_textbox {
    padding: 0;
}

.shared-bottom [data-gMapContainer] {
    margin-bottom: 15px;
}

.shared-bottom [data-gMapContainer] [data-mapHolder] {
    position: relative;
    background-color: white;
    padding: 5px;
}

.shared-bottom [data-gMapContainer] .temp-img {
    position: relative;
    z-index: 1;
}

.shared-bottom [data-gMapContainer] .temp-img img {
    display: block;
    width: 100%;
}

.shared-bottom [data-gMapContainer] .temp-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.shared-bottom [data-gMapContainer] .view-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 12px 24px;
    background-color: white;
    text-align: center;
    border-radius: 3px;
    color: #1e428a;
    font-family:'Avenir LT W01_95 Black1475556';
    font-size: 14px;
}

.shared-bottom [data-gMapContainer] .view-map i {
    color: #40b4e5;
    margin-right: 5px;
}

@media (min-width: 750px) {
    .detail-tab .inner-tab-panel {
        display: flex;
    }
    .detail-tab .inner-tab-panel .map-cont,
    .detail-tab .inner-tab-panel .text-cont {
        width: 50%;
    }
    .detail-tab .inner-tab-panel .map-cont {
        order: 2;
        padding-left: 15px;
        max-width: 650px;
        margin: 0 0 0 auto;
    }
    .detail-tab .inner-tab-panel .text-cont {
        order: 1;
        padding-right: 15px;
    }
}

@media (min-width: 1025px) {
    .detail-tab {
        margin-bottom: 100px;
    }
    .detail-tab .tab-inner {
        align-items: center;
    }
    .detail-tab .tab-inner h2 {
        font-size: calc(24px + (80 - 24) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(23px + (72 - 23) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .detail-tab .tab-inner .toggle i {
        font-size: calc(20px + (40 - 20) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .detail-tab .tab-content {
        padding: 65px 0;
    }
    .detail-tab .tab-content p {
        font-size: 28px;
        line-height: 42px;
    }
}

.detail-slider .slider {
    border: 1px solid white;
}

.detail-slider .item {
    position: relative;
    border: 1px solid white;
}

.detail-slider .item .img-cont {
    position: relative;
}

.detail-slider .item .img-cont::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.detail-slider .item .img-cont img {
    display: block;
    width: 100%;
}

.detail-slider .item .img-cont .date-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: white;
    z-index: 1;
}

.detail-slider .item .img-cont .date-block span:first-child {
    font-family:'Avenir LT W01_95 Black1475556';
    text-transform: uppercase;
    color: #d8262f;
    font-size: 14px;
}

.detail-slider .item .img-cont .date-block span:last-child {
    font-family:'Avenir LT W01_85 Heavy1475544';
    color: black;
    font-size: 34px;
    line-height: 28px;
}

.detail-slider .item .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 70px 15px 15px;
}

.detail-slider .item .slide-content h5 {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 5px;
}

.detail-slider .item .slide-content .dates {
    font-size: 11px;
}

.detail-slider .slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0 25px;
}

.detail-slider .custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(228,46,65);
    background: -moz-linear-gradient(top, rgba(228,46,65,1) 0%, rgba(122,25,27,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    background: linear-gradient(to bottom, rgba(228,46,65,1) 0%,rgba(122,25,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42e41', endColorstr='#7a191b',GradientType=0 );
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.detail-slider .dots {
    margin: 0 15px;
}

.detail-slider ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height:38px;
    width:100%;
    margin: 0;
    text-align:center;
    padding:0px;
    list-style:none;
}

.detail-slider ul.slick-dots li button {
    background-color:white!important;
    width:14px;
    height:14px;
    font-size:0px;
    padding:0px;
    margin:0px 8px 0px 8px; 
    border:2px #fff solid;  
    border-radius:50%;  
    vertical-align: top;
}

.detail-slider ul.slick-dots li.slick-active button {
    background-color: transparent !important;
}

@media (min-width: 1025px) {
    .detail-slider .item .img-cont .date-block {
        width: calc(65px + (170 - 65) * ((100vw - 1025px) / (1700 - 1025)));
        height: calc(65px + (170 - 65) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .detail-slider .item .img-cont .date-block span:first-child {
        font-size: calc(14px + (34 - 14) * ((100vw - 1025px) / (1700 - 1025)));
    }
    .detail-slider .item .img-cont .date-block span:last-child {
        font-size: calc(34px + (88 - 34) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(28px + (68 - 28) * ((100vw - 1025px) / (1700 - 1025)));
    }
}