.header-section .top-header .search-cont {
    margin-left: 35px;
    cursor: pointer;
}

.header-section .top-header .search-cont .inner {
    position: relative;
}

.header-section .top-header .search-cont .open {
    font-size: 22px;
    color: #999999;
    transition: opacity 0.2s;
    pointer-events: none;
}

.header-section .top-header .search-cont.active .open {
    opacity: 0;
}

.header-section .top-header .search-cont .close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

.header-section .top-header .search-cont .close i {
    font-size: 12px;
    color: black;
    text-shadow: 0px 0px;
}

.header-section .top-header .search-cont.active .close {
    opacity: 1;
    pointer-events: all;
}

.header-section .top-header .search-cont .form-cont {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 440px;
    padding: 40px;
    background-color: black;
    z-index: 2000;
    transition: opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

.header-section .top-header .search-cont.active .form-cont {
    opacity: 1;
    pointer-events: all;
}

.header-section .top-header .search-cont .form-cont form {
    position: relative;
}

.header-section .top-header .search-cont .form-cont label {
    font-family:'Avenir LT W01_85 Heavy1475544';
    font-size: 22px;
    color: white;
    text-transform: uppercase;
}

.header-section .top-header .search-cont .form-cont .submit-primary {
    margin: 0;
    padding: 0;
    height: 65px;
    width: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #71a84f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section .top-header .search-cont .form-cont .submit-primary i {
    font-size: 26px;
    color: white;
}

.header-section .top-header .search-cont .form-cont input {
    margin: 20px 0 0;
    height: 65px;
    line-height: 65px;
    box-shadow: 0px 0px;
    padding: 0 65px 0 15px;
    color: #999999;
    font-size: 24px;
    font-family:'Avenir LT W01_35 Light1475496';
}

.header-section .top-header .search-cont .form-cont input::-webkit-input-placeholder {
    color: #999999;
    font-size: 24px;
    opacity: 1;
    font-family:'Avenir LT W01_35 Light1475496';
}
.header-section .top-header .search-cont .form-cont input:-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
    font-size: 24px;
    opacity: 1;
    font-family:'Avenir LT W01_35 Light1475496';
}
.header-section .top-header .search-cont .form-cont input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    font-size: 24px;
    opacity: 1;
    font-family:'Avenir LT W01_35 Light1475496';
}
.header-section .top-header .search-cont .form-cont input:-ms-input-placeholder {
    color: #999999;
    font-size: 24px;
    opacity: 1;
    font-family:'Avenir LT W01_35 Light1475496';
}