/*
|-----------------------------------------------------------------------------------------------------------
| FONTS
|-----------------------------------------------------------------------------------------------------------
|
*/
/*

Place all custom fonts here for reference

font-family:'Avenir LT W01_35 Light1475496';

font-family:'Avenir LT W01_35 Light_1475502';

font-family:'Avenir LT W01_45 Book1475508';

font-family:'Avenir LT W01_45 Book O1475514';

font-family:'Avenir LT W01_55 Roman1475520';

font-family:'Avenir LT W01_55 Obliqu1475526';

font-family:'Avenir LT W01_65 Medium1475532';

font-family:'Avenir LT W01_65 Medium1475538';

font-family:'Avenir LT W01_85 Heavy1475544';

font-family:'Avenir LT W01_85 Heavy_1475550';

font-family:'Avenir LT W01_95 Black1475556';

font-family:'Avenir LT W01_95 Black_1475562';

*/
/*
|-----------------------------------------------------------------------------------------------------------
| RESET STYLES
|-----------------------------------------------------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

p ol,
p ul { list-style: none; }

blockquote,
q { quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
|-----------------------------------------------------------------------------------------------------------
| GLOBAL TAG STYLES
|-----------------------------------------------------------------------------------------------------------
*/
html {
    min-height: 100%;
}

body {
    position: relative;
    background-color: #000;
    color: white;
    height: auto;
    font-family: Arial, Sans-Serif;
    overflow-x: hidden;
}

.mobile-stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 180%;
}

.color-stripe.mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.color-stripe.mobile.first {
    width: 100%;
    height: 20px;
    bottom: 40px;
}

.color-stripe.mobile.second {
    width: 100%;
    height: 60px;
    opacity: 0.3;
}

.right-to-left-mask {
    -webkit-mask-image: linear-gradient(to left, transparent 5%, rgba(0,0,0,0.9) 85%);
    mask-image: linear-gradient(to left, transparent 5%, rgba(0,0,0,0.9) 85%);
}

.mobile.right-to-left-mask {
    -webkit-mask-image: linear-gradient(to left, transparent 5%, rgba(0,0,0,0.25) 85%);
    mask-image: linear-gradient(to left, transparent 5%, rgba(0,0,0,0.25) 85%);
}

.color-stripe.down-right {
    transform: skewY(15deg);
}

.color-stripe.blue {
    background-color: rgba(109,177,199,1.0);
}

@media (min-width: 641px) {
    .mobile-stripes {
        padding-top: 60%;
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url("../includes/public/assets/images/bg-body.jpg");
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }
    .mobile-stripes {
        display: none;
    }
}

body.mobile-open::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

a {
    color: #6db1c7;
}
a:hover {
    color: #ffb547;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Avenir LT W01_95 Black1475556";
    color: white;
    text-shadow: 0 1px 4px #000;
}
h1 {
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 20px;
}
h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
}
h3 {
    font-size: 21px;
    line-height: 23px;
    margin-bottom: 20px;
}
h4 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}
h5 {
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 20px;

}
h6 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
p {
    font-family: "Avenir LT W01_35 Light1475496";
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 20px;
    text-shadow: 0 1px 4px #000;
}
@media (min-width: 641px) {
    h1 {
        font-size: 44px;
        line-height: 46px;
    }
    h2 {
        font-size: 42px;
        line-height: 45px;
    }
    h3 {
        font-size: 38px;
        line-height: 41px;
    }
    h4 {
        font-size: 33px;
        line-height: 36px;
    }
    h5 {
        font-size: 28px;
        line-height: 31px;
    }
    h6 {
        font-size: 24px;
        line-height: 27px;
    }
    p {
        font-size: 22px;
        line-height: 32px;
    }
}
@media (min-width: 1025px) {
    h1 {
        font-size: 60px;
        line-height: 66px;
    }
    h2 {
        font-size: 52px;
        line-height: 56px;
    }
    h3 {
        font-size: 47px;
        line-height: 51px;
    }
    h4 {
        font-size: 42px;
        line-height: 46px;
    }
    h5 {
        font-size: 34px;
        line-height: 38px;
    }
    h6 {
        font-size: 26px;
        line-height: 30px;
    }
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

::-webkit-input-placeholder {
    color: #c9bea7;
    opacity: 1;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #c9bea7;
    opacity: 1;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #c9bea7;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #c9bea7;
    opacity: 1;
}

/*
|-----------------------------------------------------------------------------------------------------------
| HEADER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 65px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(250,250,250,1) 0%, rgba(250,250,250,0.95) 60%, rgba(79,79,79,0.9) 95%, rgba(79,79,79,0.85) 100%);
}

.header-section .top-nav-cont {
    padding: 10px 15px;
    height: inherit;
}

.header-section .top-nav-cont::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 42px 156px rgba(0,0,0,0.65);
    pointer-events: none;
}

.header-section .top-header {
    display: none;
}

.header-section .bottom-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section .logo {
    width: 60%;
    max-width: 220px;
}

.header-section .logo img {
    display: block;
    width: 100%;
}

.header-section .weather-cont a {
    color: white;
}

.header-section .top-header .weather-cont a {
    font-size: 21px;
    color: #999999;
    font-family:'Avenir LT W01_95 Black1475556';
}

.header-section .weather-cont a i {
    color: white;
    margin-right: 5px;
    font-size: 22px;
}

.header-section .top-header .weather-cont a i {
    color: #999999;
}

.header-section .mobilenav .weather-cont {
    font-family:'Avenir LT W01_65 Medium1475532';
    padding: 17px 15px;
    font-size: 20px;
}

@media (min-width: 1025px) {
    .header-section {
        height: auto;
        background: none;
    }
    .header-section .top-nav-cont {
        padding: 0;
    }
    .header-section .top-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;
        background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0,26,68, 1) 100%);
    }
    .header-section .bottom-header {
        position: relative;
        padding: 0 20px;
        background: linear-gradient(to right, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0.8) 40%, rgba(250, 250, 250, 0) 100%);
    }
    .header-section .bottom-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px -22px 56px rgba(0,0,0,0.23);
        pointer-events: none;
    }
    .header-section .logo {
        width: 22%;
        max-width: none;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| BODY SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.content {
    position: relative;
    left: 0;    
    top: 0;
    width: 100%;
    overflow: hidden;
}

.row {
	max-width: 1150px;
    margin: 0 auto;
    margin-left: -15px;
    margin-right: -15px;
    width: inherit;
}

.panel-one-col {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 15px;
}

.controlled-width {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.contentRender_name_plugins_core_textbox {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px 15px;
}

.panel-one-col .panel-one-col,
.panel-one-col .contentRender_name_plugins_core_textbox {
    padding: 0;
}

.intro-panel h1 {
    font-size: 36px;
    line-height: 34px;
}

.intro-panel p {
    font-size: 18px;
    line-height: 23px;
}

@media (min-width: 1025px) {
    .intro-panel h1 {
        font-size: 80px;
        line-height: 80px;
        margin: 0 0 40px;
    }
    .intro-panel p {
        font-size: 28px;
        line-height: 42px;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| FOOTER SECTION
|-----------------------------------------------------------------------------------------------------------
*/
.footer {
    position: relative;
    z-index: 1;
}

.footer .footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer .footer-bg.desktop {
    display: none;
}

.footer .top-footer {
    position: relative;
}

.footer .bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px 35px;
    background: linear-gradient(to right, white 0%, #a8a8a8 100%);
}

.footer .logo {
    padding: 0 15px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto 30px;
}

.footer .logo img {
    display: block;
    width: 100%;
}

.footer .bottom-footer ul {
    list-style: none;
    text-align: center;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 475px;
}

.footer .bottom-footer ul li {
    font-family:'Avenir LT W01_55 Roman1475520';
    color: #333333;
    text-shadow: 0px 0px;
    font-size: 17px;
    line-height: 22px;
}

.footer .bottom-footer ul li:first-child {
    font-family:'Avenir LT W01_95 Black1475556';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}

.footer .sponsors {
    display: flex;
    flex-direction: column;
    padding: 35px 25px 40px;
    background-color: black;
}

.footer .sponsor-list {
    margin: 0 0 35px;
    list-style: none;
    padding: 0 15px;
}

.footer .sponsor-list li {
    margin-bottom: 25px;
    text-align: center;
}

.footer .sponsor-list li a {
    font-family:'Avenir LT W01_65 Medium1475532';
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 21px;
}

.footer .made-by {
    text-align: center;
}

.footer .made-by img {
    width: 100%;
    max-width: 220px;
}

@media (min-width: 750px) {
    .footer .bottom-footer {
        flex-direction: row;
    }
    .footer .logo {
        margin: 0 20px 0 0;
        padding: 0;
        max-width: 320px;
        width: auto;
    }
    .footer .bottom-footer {
        padding: 35px 15px;
    }
    .footer .bottom-footer ul {
        margin: 0 auto;
        width: auto;
    }
}

@media (min-width: 1025px) {
    .footer .bottom-footer {
        justify-content: space-between;
        padding: 40px 35px;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.98) 30%, rgba(255,255,255,0.7) 100%);
    }
    .footer .bottom-footer ul {
        text-align: left;
        max-width: none;
        margin: 0 20px;
    }
    .footer .footer-bg.mobile {
        display: none;
    }
    .footer .footer-bg.desktop {
        display: block;
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,1.0) 28%);
        mask-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,1.0) 28%);
    }
    .footer .sponsors {
        flex-direction: row;
        align-items: center;
        padding: 35px;
        background-color: rgba(0,0,0,0.8);
    }
    .footer .sponsor-list {
        position: relative;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        max-width: 1350px;
    }
    .footer .sponsor-list li {
        padding: 0 25px;
        margin: 0;
        border-right: 1px solid white;
    }
    .footer .sponsor-list li:last-child {
        border-right: 0;
    }
    .footer .sponsor-list li a {
        font-size: 16px;
    }
    .footer .made-by {
        max-width: 190px;
    }
}

@media (min-width: 1150px) {
    .footer .sponsor-list li a {
        font-size: 18px;
    }
}

@media (min-width: 1350px) {
    .footer .sponsor-list li {
        padding: 0 45px;
    }
}
