.mobile-search {
    position: relative;
    padding: 15px 15px 25px;
}

.mobile-search input {
    height: 40px;
    line-height: 40px;
    width: 100%;
    box-shadow: 0px 0px;
    border: 0;
    padding: 0 85px 0 15px;
    margin: 10px 0 0;
}

.mobile-search .submit-mobile {
    position: absolute;
    bottom: 25px;
    right: 15px;
    height: 40px;
    width: 85px;
    background-color: #71a84f;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Avenir LT W01_35 Light1475496';
    font-size: 17px;
    font-weight: 400;
}

.mobile-search label {
    font-family:'Avenir LT W01_85 Heavy1475544';
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}